<section class="footer-contact-area section_padding_100 clearfix" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h2 class="purple mt-40">تم إضافة هذا المنتج </h2>
          </div>
        </div>

<center>

  <div class=""> باقة المنتج: <%= book.title %></div>
  <div class="">المصمم: <%= book.author.name %></div>
  <div class="">تاريخ الرفع: <%= book.publishDate.toDateString() %></div>
  <div class="">السعر:<%= book.pageCount %></div>
  <div class="">الوصف:<%= book.description %></div><br />
  <img width="100px" height="100px" class="book-cover" src="<%= book.coverImagePath %>">

  </center>

    <div class="book-details-btn-grid">
      <a class="btn submit-btn" href="/books/<%= book.id %>/edit">تعديل</a>
      <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
      <a class="btn submit-btn book-details-author-button" href="/authors/<%= book.author.id %>">عرض المصمم</a>
</div>
</div>
</div>
</div>
</section>
